//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

html{
  background: $black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  @include flex(center, flex-start, row);
  @include size(100%, 100%);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

span{
  padding: 2px 5px;
  border-radius: 1px;
}

.alive span{
  color:$light-grey-1;
}

.alive:hover span{
    color:$white;
}

.dead span{
  color: $dark-red-2;
}
.dead{
  color:$grey-1;
}
.ww span{
  color: $yellow-2;
}


aside{
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

aside, article{
  height: calc(100vh - 40px);
  width:  calc(50vw - 40px);
  padding: 40px;
  box-sizing: border-box;
}

article{
  overflow-y: scroll;
  padding: 40px 80px;
}

section{
  background-color: black;
  width: 100%;
  margin-bottom: 40px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: -40px;
  height: 50px;
  @include flex(center, flex-start, row);
  a{
    margin-right: 20px;
    color: $grey-2;
  }
  .selected{color:$light-grey-2}
  z-index: 10;
}

.anim-start{
  opacity: 0;
  transform: translateX(-200px);
}
.anim-mid{
  opacity: 0;
  transform: translateX(200px);
}

.anim-end{
  opacity: 1;
  transform: translateX(0);
}


.container{
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  @include transition(transform);
}

*{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
p{
  @include flex(center, flex-start, row);
  padding: 15px 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $semi-black;
  color:$light-grey-1;
  position: relative;
  &:hover{
    color:$white;
  }
}

h3{
  color:$light-grey-1;
  margin-top: -20px;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  line-height: 1.2;
}

a{
  margin-left: -12px;
  padding: 2px 12px;
  border-radius: 20px;
}
a:hover{
  background-color: $dark-grey-1;

  cursor: pointer;
  color: white;

}

h1{
  font-size: 42px;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  line-height: 1.2;
}


.incorrect::after{
  content: '❌';
  position:absolute;
  right: -1px;
  top:14px
}

.correct::after{
  content: '😀';
  position:absolute;
  right: -1px;
  top:14px
}
h4{
  font-weight: 400;
  color:$light-grey-1;
  line-height: 1.5;
}

.link{
  kbd, span{ color:$light-grey-1;}
}

.link:hover{
  color: $blue-1;
  cursor: pointer;
  kbd, span{ color:$blue-1; cursor: pointer;}
}

.link:first-of-type{
  color:$yellow-2 ;
  kbd, span{ color:$yellow-2;}
  ::after{
    content: 'Has won! Congratulations 👑';
    position:absolute;
    right: -1px;
    top:14px
  }
  &:hover{
    color: $dark-yellow-3;
    kbd, span{color:$dark-yellow-3; }
  }

}

code{
  color:$yellow-2 ;
}

@media only screen and (max-width: 800px) {
  section{
    height: 100px;
    position: fixed;
    top: 0;
  }
  body{
    padding: 0;
  }
  aside {
    display: none;
  }
  article{
    width: 100vw;
    height: calc(100% - 120px);
    margin-top: 60px;
    padding: 20px;
  }
}
