//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

*{color:white;}
html{
  background: $black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  @include grid(300px, 1fr, 0);
  @include size(100%, 100%);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.character{
  @include flex(center, center, column);
  border: .5px solid $dark-grey-1;
}
